@use 'sass:math';
@mixin right-label($height) {
    position: relative;
    margin-left: math.div($height, 2);
    // padding-left: math.div($height, 2);
    padding-right: 1ch;
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        background: inherit;
        $diag: math.div($height, math.sqrt(2));
        width: $diag; height: $diag;
        transform-origin: 0 0;
        transform: rotate(45deg);
        z-index: 0;
    }
    & > * { z-index: 1; position: relative; }
}