.App {
    display: flex;
    & > .menu {
        font-family: Montserrat sans-serif;
        flex: 0 0 min-content;
        background: #181818;
        padding: 10px;
        & > a {
            display: block;
            color: white;
            white-space: nowrap;
            text-decoration: none;
        }
        p {
            font-style: italic;
            color: #777;
            font-size: .9em;
        }
    }
    & > .Repl {
        flex: 1 1 auto;
        height: 100%;
    }
}