@mixin spaced {
    &:not(:first-child) {
        padding-left: 1ch;
    }
    &:not(:last-child) {
        padding-right: 1ch;
    }
}


.LogDisplay {
    .Var {
        color: #494;
    }
    .Var + .Var {
        padding-left: 1ch;
    }
    .fade {
        color: #777;
    }
    .lambda {
        color: #ca2;
        // @include spaced
    }
    .argument {
        color: #f66;
        // @include spaced
    }
    .sub .Var {
        padding-right: 1ch;
        &:not(:first-child) {
            padding-left: 1ch;
        }
    }
}

