@use 'sass:math';

.Repl {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: auto min-content;
    grid-template-areas:
        'log state'
        'prompt state';
    & > .log {
        grid-area: log;
        & > article {
            max-width: 100%;
            overflow-x: hidden;
            border-bottom: 1px solid #777;
            padding: 0 10px;
            &.loops > .result {
                background: #f806;
            }
            &.error > .result {
                background: #f006;
            }
            &:not(:hover) button { display: none; }
            .process {
                clear: both;
                position: relative;
            }
            .process.truncated::before {
                content: '';
                position: absolute; height: 3em;
                left: 0; bottom: 0; right: 0;
                background: linear-gradient(to bottom, #2220 0%, #222f 100%);
            }
        }
        overflow-y: scroll;
    }
    & > .state {
        grid-area: state;
        padding: 10px;
        min-width: 30ch;
        height: 100%;
        box-sizing: border-box;
        background-color: #444;
        display: flex;
        flex-direction: column;
    }
    & > form {
        grid-area: prompt;
        display: flex;
        padding: 10px;
        height: min-content;
        input {
            flex: 1 1 auto;
        }
        button {
            flex: 0 0 auto;
        }
    }
}