@import url('https://unpkg.com/css.gg@2.0.0/icons/css/link.css');
@import '../helpers/shared.module.scss';

$brk: 800px;

.main {
    header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            'author time'
            'title title'
            'summary summary';
        @media (min-width: $brk) {
            grid-template-columns: auto auto 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                'title author time'
                'title summary summary';
        }
        h1 {
            grid-area: title;
            font-size: 2em;
            margin: 10px;
        }
        address {
            grid-area: author;
            display: flex;
            align-items: flex-end;
            vertical-align: bottom;
        }
        time {
            grid-area: time;
            display: flex;
            align-items: flex-end;
            vertical-align: bottom;
        }
        summary {
            grid-area: summary;
            color: #ddd;
            font-style: italic;
            margin: 2px 4px;
            letter-spacing: 3px;
        }
    }
    main {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        @include side-bar-container();
        h2:global(#table-of-contents) {
            display: none;
            & + ul {
                @include side-bar();
                &, & ul {
                    padding-left: 2ch;
                    list-style-type: none;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        h2[id=""] { display: none }

        // Linked titles

        :global(.linkbtn) {
            display: inline-block;
            margin: 5px 10px;
            color: grey;
            // visibility: hidden;
        }
        h1,h2,h3,h4,h5,h6 {
            font-family: 'Montserrat', sans-serif;
            // font-weight: 300;
            // &:hover :global(.linkbtn) {
            //     visibility: unset;
            // }
        }

        // Basic aesthetics

        p {
            text-align: justify;
        }

        a {
            @include colored-link();
        }

        img {
            max-width: 100%;
        }

        code {
            color: white;
            background: #0004;
            padding: 0 5px;
            border-radius: 5px;
            border: .5px solid #888;
        }
    }
}