.list {
	article {
		display: grid;
		grid-template-columns: 1fr auto auto;
		grid-template-areas:
			'title address time'
			'summary summary summary';
		h3 {
			grid-area: title;
			margin-top: 0;
		}
		time {
			grid-area: time;
		}
		summary {
			grid-area: summary;
		}
		address {
			grid-area: address;
		}
	}
}
