.main {
    width: 100%;
    h2 {
        margin: 20px 10px;
    }
    & > main {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
}