.Title {
    margin: 0px;
    color: white;
    display: flex;
    font-family: Montserrat sans-serif;
    font-weight: 300;
    .content {
        flex: 0 0 auto;
    }
    .filler {
        flex: 1 1 auto;
        align-self: center;
        border: 1px solid #fff8;
        margin-left: 5px;
    }
}