@import url('https://css.gg/css?=|mail');

.main {
    $brk: 800px;
    display: grid;
    grid-template-areas: 'intro' 'projects' 'contact';
    grid-template-rows: auto 1fr auto;
    max-height: 100%;
    @media (min-width: $brk) {
        grid-template-rows: 1fr auto;
        grid-template-columns: max-content auto;
        grid-template-areas: 
            'intro projects'
            'contact projects';
    }
    .pagehead {
        grid-area: intro;
        background: #181818;
        padding: 5px 10px;
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        h1 {
            text-align: right;
            // white-space: nowrap;
            font-size: 1.5em;
        }
        nav {
            flex: 0 1 auto;
            display: flex;
            overflow: auto;
            scrollbar-gutter: stable;
            a {
                flex: 1 1 1px;
                text-align: center;
                color: inherit;
                text-decoration: none;
                padding: 5px;
                &:hover {
                    background: #fff1;
                }
                &:global(.active) {
                    color: white;
                    font-weight: 600;
                }
            }
            @media (min-width: $brk) {
                flex-direction: column;
                a {
                    padding: 10px 10px;
                    text-align: right;
                }
            }
        }
    }
    .content {
        grid-area: projects;
        padding: 5px 10px;
        overflow: auto;
    }
    .contact {
        background: #141414;
        grid-area: contact;
        padding: 5px 0 40px;
        @media (min-width: $brk) {
            padding-bottom: 5px;
        }
        h2 {
            margin: 10px
        }
        div {
            margin-left: 5px;
            @media (min-width: $brk) {
                max-width: 200px;
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: inherit;
                font-weight: 600;
                margin: 0 5px;
            }
        }
    }
}